html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
  color: darkslategray;
}

header {
  display: flex;
  height: 10rem;

  font-weight: bold;
}

header img {
  height: 100%;
  width: auto;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul.list-projet > li {
  text-align: justify;
  padding: 0.5rem;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.badge {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  border: solid;
  border-width: 1px;
  border-color: darkslategray;
  font-size: 1rem;
  font-weight: normal;
}

p {
  margin: unset;
}
